absl-py==0.9
h5py==2.10.0
imageio
importlib-metadata
importlib-resources
incremental
intervaltree
ipykernel
ipython
ipython-genutils
ipywidgets
jupyter
jupyter-client
jupyter-console
jupyter-core
Keras-Applications
Keras-Preprocessing
librosa
MIDIFile
MIDIUtil
mido
mistune
mock
notebook
numba
numpy==1.16.0
pandas
pretty-midi==0.2.8
protobuf==3.9.2
pypianoroll
tensorboard==2.3.0
tensorboard-plugin-wit==1.7.0
tensorflow>=2.3.1
tensorflow-datasets>=3.1.0
tensorflow-estimator>=2.3.0
tensorflow-gpu==2.12.0
tensorflow-metadata>=0.21.2
zipp


